@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.main ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    text-align: center;
    list-style: none;
}

.main li {
   padding: .7rem;
    height: auto;
    font-size: .9rem;
    margin: 2rem 15%;
    background-color: rgba(31, 103, 123, 0.08);
    box-shadow: 1px 2px 3px 1px rgb(31, 63, 123, 0.4);
    border-radius: 3px;
}

.main li:hover {
   box-shadow: 3px 4px 5px 3px rgb(31, 63, 123, 0.5);
}

.main h1 {
   margin:  1rem;
   width: 100%;
    color: rgb(31, 63, 123);
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.main h2 {
    font-size: 2rem;
    color: rgb(4, 55, 113);
    font-family: 'Montserrat', sans-serif;
}

.main h3 {
    font-size: 1.7rem;
    margin: .4rem;
    font-family: 'Amatic SC', cursive;
}

.main h4 {
    margin: .2rem;
    font-family: 'Playfair Display', serif;
}

.main img {
    width: 200px;
    height: auto;
    border-radius: 100px;
}

button.search {
    margin: 0.5rem;
    padding: 0.6rem;
    background-color: rgb(57, 186, 237);
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
 }

 button.search:hover {
    background-color: rgb(49, 152, 193);
 } 

 .pages button {
    margin: 30px 1px;
    padding: 6px;
    background-color: rgba(50, 154, 196, 0.689);
    border: 3px solid transparent;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
 }

 .pages button:hover {
    background-color: rgba(32, 102, 130, 0.651);
 }

 button.activePage {
    margin: 0;
    padding: 7px;
    border: 3px solid rgba(17, 52, 67, 0.486);
 }

 .choice {
    margin: .7rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(78, 212, 245, 0.05);
 }

 label.question {
    margin-left: 2.5rem;
    color: rgb(42, 114, 181);
    font-size: 1.8rem;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
 }
 
 .filtr {
    display: flex;
    margin: 0 0.5rem;
 }

 .filtr label {
    padding-left: 1rem;
 }

 .filtr select {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
 }

 .filtr select:active {
    border: 1px solid #aaaaaa;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
 }

 @media only screen and (max-width: 1600px) {
    .main ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
 }

 @media (max-width: 1250px) {
    .main ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 850px) {
   .main ul {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
   }
 }